<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <h3 style="color : orange; text-align: center;">Books taken during the month</h3>
            <div class="card-body">
  