<section class="content" style="margin : 50px; margin-left: 15%;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card margin:50px;">
            <h4 style="color : orange; text-align: center;">Books Display</h4>
            <div class="table-wrapper">
              
              
              <table class="common" id="example2" >
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publication</th>
                  </tr>
                </thead>
  