<a href="#" style="padding : 30px;">
    <form method="post" action="/add" class="customer">
      <button type="submit" style="margin-left:20px; " class="btn btn-primary">Home</button>
    </form>

</a>
  