<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/stylesheets/all.min.css">

  <link rel="stylesheet" href="/stylesheets/adminlte.min.css">

  <link rel="stylesheet" href="/stylesheets/add.css">
  <style>
    .a {


      font-size: 15px;
      display: block;
      width: auto;
      color: black;
      background: white;
      outline-color: burlywood;


    }
  </style>

</head>

<body class="sidebar-mini" style="height: auto;">
  
      <!-- Main content -->
                <!-- /.card-header -->
                <!-- form start -->
                
                
                <form action="/addbook/addbooks" method="post">
                  
                  <h3 style="color : orange ;text-decoration: bold; text-align: center;">Add Books</h3>
                    <div class="form-control">
                      <label for="title" id="title">Title</label><br>
                      <input type="text" name="ltitle" id="l" >
                    </div>
                    <div class="form-control">
                      <label for="author" id="author">Author</label><br>
                      <input type="text" id="eid" name="lauthor" >
                    </div>
                    <div class="form-control">
                      <label for="phno" id="lphno">Publication</label><br>
                      <input type="text" name="lpub" id="lph" >
                    </div>
                    
                    

                    
                    
                    <!-- /.card-body -->

                    
                  <button type="submit" class="btn btn-primary">Submit</button>
                    
                </form>
      








            </div>
            <!-- /.card -->

          </div>
          <!--/.col (left) -->
          <!-- right column -->

        </div>
      </section>
    </div>

  </div>

  

</body>

</html>