<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/javascripts/h.js"></script>
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

  <link rel="stylesheet" href="/stylesheets/all.min.css">

  <link rel="stylesheet" href="/stylesheets/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/stylesheets/responsive.bootstrap4.min.css">

  <link rel="stylesheet" href="/stylesheets/buttons.bootstrap4.min.css">

  <link rel="stylesheet" href="/stylesheets/adminlte.min.css?v=3.2.0">

  <link rel="stylesheet" href="/stylesheets/table.css">

  <link rel="stylesheet" href="/stylesheets/practice.css">

</head>
<body>
    <h1>Quote <%=quote%></h1>
    
    <form method="post" id="changequote" >
      <input type="text" id="valuekashmir" name="quote">
      <input type="submit" value="Name">
    </form>

    <form method="post" action="/yawn">
      <input type="text" name="esearch" id="search">
      <input type="submit" value="Search">
    </form>

    
    


</body>
</html>
